<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--<![endif]-->

<head><link rel="stylesheet" type="text/css" href="http://bikeiowa.com/DXR.axd?r=1_23,1_28,1_31,1_3-6N1Id" /><title>
	Gents Race
</title>

    <!-- Meta -->
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta name="keywords" content="BIKEIOWA, Bike Iowa, Iowa, Bicycle, RAGBRAI, Bicycle Tourism, bike trail, bicycle trail, Gravel, bike team, bike club, Bike Iowa, Bicycle Friendly, Staycation, Destination, Trails Capital of the World, Iowa Bike, Bicycle Club, CIBROC, party, bike stereo, Bikes, Biker, Bike ride, cycles, Des Moines, Teams, calendar, events, trail, Central, health, fitness, paved trails, Team Bus" /><meta name="description" content="We BIKEIOWA Iowa - Do You ? BIKEIOWA is connecting cyclists with Iowa communities and making Iowa a better place to ride your bicycle with the most comprehensive Event and Race calendar, News, Features, Reviews, RAGBRAI and Team and Club information on the planet. Iowa is the Trails Capital of the World" /><meta name="author" content="BIKEIOWA" /><meta name="classification" content="Commercial" /><meta name="copyright" content="BIKEIOWA.com" /><meta name="distribution" content="global" /><meta name="rating" content="general" /><meta name="revisit-after" content="30 days" /><meta name="robots" content="all" /><meta name="author" /><meta property="og:title" content="BIKEIOWA - Your #1 source for Iowa bicycle rides, events and news." /><meta property="og:type" content="website" /><meta property="fb:app_id" content="176045772188" /><meta name="twitter:card" content="summary_large_image" /><meta name="twitter:site" content="@BIKEIOWA" /><meta name="twitter:creator" content="@BIKEIOWA" /><meta name="twitter:title" content="BIKEIOWA" /><meta name="twitter:description" content="We BIKEIOWA - Do You ?" /><meta name="twitter:image" content="http://www.bikeiowa.com/BIKEIOWAFacebookDefault.jpg" /><meta name="twitter:alt" content="We BIKEIOWA - Do You ?" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://bikeiowa.com/../../MasterPages/favicon.ico" />

    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700" />
    <!-- most must be in order... -->
    <link href="http://bikeiowa.com/assets/css/2?v=9dkDL3Y8iUiY22wyypVLlM6_UiI-pJRCElKaLUZRhow1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/animate?v=gemAZSEPtVSF08E0SZMKFnilyWbsKXd3TMM0P6bgqH41" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/css/headers/header-v8?v=FigmwquZHrMfPEmFHkeM-0I3ir6fcEgxuz_lrimlqtE1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/css/footers/footer-v8?v=CJ8LHXdnKWmjiDoFR8TtSBe3kz3UUi-QyYHsqQoHMT01" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/line-icons/line-icons?v=ZTmYDWp7FkdLBtJiJuBMkTrhdDgjn3FCKdrkUB2S-vg1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/bootstrap/css/bootstrap-min?v=a2WgiorrS1AI2xTkqFt-uaHUlxL8D1BqLO6kuQOaW7A1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/fancybox/source/jquery-fancybox?v=8qkvE0uxB6cGPNWpHuuUL8oIj_BbxOKKKtbiZlHHrIM1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/font-awesome/css/font-awesome-min?v=MTA_xdM7VAQ-Gls2Lv2cDMjqR0vwj2lY2uwtpdOecJ01" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/owl-carousel/owl-carousel/owl-carousel?v=2yBzyFtNC9R2GH1wdo8m6WkgiFcofd-D4vaz-xyO0U41" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/master-slider/masterslider/style/masterslider?v=lbqfb7WYHE_lAvSsjwUcT464rCKstPcXUCu02FYIquI1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/master-slider/masterslider/skins/Default/style?v=EN5oxEXBIY5mja6hDUPIPhB0RmwrAcDMMo1rBhgQxxY1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio-min?v=Ee8UX3dswwHvT_3TFsq4Du7AIaDX_grIJA5dku7YssQ1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio?v=vSNByxYRxxfjTEU8siG0xBLdIXzCYpUwF9vuAiH5jIc1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/sky-forms-pro/skyforms/css/sky-forms?v=1SvY_AyOfotIS3iwSLvbpIrDsS3wFnVT4VKySaoLNRI1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms?v=VAQZzbnqTsOg98YDVJMeIHTqtxzy_cctVhD_KswC2O41" rel="stylesheet"/>

        <!-- must be in order (at bottom) -->
        <link href="http://bikeiowa.com/assets/css/theme-colors/dark-red?v=TfzlaK1LTFq84VyK9t8CqmXdthDkIKvyF8EdjxSHhmc1" rel="stylesheet"/>
<link href="http://bikeiowa.com/assets/css/theme-skins/dark?v=uNATnDuwIPgq15fpad9_M7GdCnGCzZVZm0C2jSpKgPc1" rel="stylesheet"/>

<body class="header-fixed header-fixed-space-v2">

<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="KQxJ1FlfiKZUSOYKVhtqQ3xWL6Uldo7WhhoxfCpwHIh3g1ouWFCNMaxQB42xyNkZMS1z7xO2AjTDDx7TFRHpXKKK+YxF109Po3MhF1XibIaczjKyh5VRSsZIq6HlvfmG2urDN4/csFYkAFBRuv4xOHieO/rSN8qeRaT3VZk/4j1V3EizmTv9zJ6i5Fwn57yCGujbOXxw6lDv7iExD5eho17xQTm12K8bllbRNhCWuq3U8puemZX1JdqEJZmx5zuxwohHwAL0qcFpgALNC+6wLLd2XShhht3ra7mCZKEH/YsQHa9Ty+dWylTXJ7t3IB8eL855YAiumpx9teZ/ZTE4k1MxydyqvcVUrQ2ZZ9TnFyAn6VbtLI74OTo4CEEAzJ1yhnMnqOAI4W7YJCv1SWw0pX5psMz9F2frsC8QkVdTViQBEgDfG+qgrBMuWIXDUVJdBSz7EI8lwKuAhLHhkV8Do0hLE2aCrWIDQDXrabem0eJ05TvaxToRRasnnfCxvzf3o5F2baTEfRXmAfDhGnY2nFHJGvREBkIHbb2VkFb2KUlcZwwvhKx8IgduG02ujuEy+LHKKs3zn9VnVWmiXMhABNur99a86o4MPsAsV6gesqOZvN9KXBpy60jNriYZ1nZPEVQndNEbxJbJdUxUyPcDof9QeUpcFm7HUior97LgQ3ckMM7WuS5eicDOjEC0rQCLiDMXOmwW11IasSbBmeEGsWoLk/uD8+sU8zL/Wr33emC9UEdg3YJQJjaiUC9+e13kp1tp7/QOSbVvcVKcj5Y3/xu2DhEonaJmA/S+7eVLf/e0gXkUS9tzaeyp9/fK/0SaVL1cuA==" />
</div>


<script src="http://bikeiowa.com/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZG7nAoEem6hAxylXmt7bZYHrXyVFOUKYkpq4J5WPOFxxwcZBAg2&amp;t=636161582620000000" type="text/javascript"></script>


<script src="http://bikeiowa.com/ScriptResource.axd?d=nv7asgRUU0tRmHNR2D6t1ElgaNZfZrmK4xcf-qAJ3QDc_jhWxxRArmYIgon-vdgyQGKZyv7_W9Gde2WqahRPDuEVROZSmR5UPV8K2hAL9yO02QLWEWR_6EeWMzJRJ5ieG0fpkw2&amp;t=ffffffffa3e72dc7" type="text/javascript"></script>
<script src="http://bikeiowa.com/../../Scripts/WebForms/MsAjax/MicrosoftAjax.js" type="text/javascript"></script>
<script src="http://bikeiowa.com/../../Scripts/WebForms/MsAjax/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
<script src="http://bikeiowa.com/../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>


<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="5E10AC8A" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="V8letFa44PPKPWME76yH9igWZqAAVldB8sEpjD6RAyhh1KOHK+dxDTQ1U98/Y57q6eku2oOUy0DzcPhOYjAUzvLehBmoYhjDtS2Zg88kru85ogyjMRNKyCeOkhp9ee9dhE4hiiKNtP8BH4aPemUdbDotUEc5m8qTZQV+KRdten0b/2PQESkWwmdWRQmY5rn18beaWQ==" />
</div>

        <div class="wrapper">

            <!-- Navigation  -->
<!--=== Header v8 ===-->
<div class="header-v8 header-sticky">

    <!-- Top bar  -->
    <div class="blog-topbar">
        <!--Search -->

<div class="topbar-search-block" id="divTopSearch">
    <div class="container">

        <input id="txtSearchTop" type="text" class="form-control" placeholder="Search" onkeypress="handle(event)">



        <div class="search-close">
            <i class="icon-close"></i>
        </div>
    </div>

</div>
<script>



    function handle(e) {
        $('#divTopSearch').keypress(function (e) {
            if (e.which == 13) {
                QLSearch(); // call the function to redirect to another page
                return false;
            }
        })
    }

    // Function that redirect the user to another page
    function QLSearch() {
        //alert(txtSearchTop.value);
        window.location.href = "http://bikeiowa.com/Search.aspx/?searchword=" + txtSearchTop.value;
        //window.location = "http://www.google.com";

    }



</script>

        <!-- Topbar  -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-8">
                    <!-- Left Side Top Menu -->
                    <div class="topbar-time">
                        <label id="Navigation_lblCurrentDate">Sat Feb 25 2017</label>
                    </div>
                    <div class="topbar-toggler">
                        <span id="Navigation_lblAdmin" class="topbar-time">Admin</span><span class="fa fa-angle-down"></span>

                    </div>
                    <ul class="topbar-list topbar-menu">


                        <li class="hidden-xs hidden-sm hidden-md">
                            <a href="http://bikeiowa.com/Shop" id="Navigation_hlShop">Shop</a></li>
                        <li class="hidden-xs hidden-sm hidden-md">
                            <a href="http://bikeiowa.com/Sponsors" id="Navigation_hlSponsors">Sponsors</a></li>



                                <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><a href="http://bikeiowa.com/Register" id="Navigation_LoginView2_A1">Register</a></li>
                                <li class="cd-log_reg hidden-sm hidden-md hidden-lg">
                                    <a id="Navigation_LoginView2_LoginStatus2" href="javascript:__doPostBack(&#39;ctl00$ctl00$Navigation$LoginView2$LoginStatus2$ctl02&#39;,&#39;&#39;)">Login</a>
                                    &nbsp;
                                </li>


                    </ul>
                </div>
                <!-- End Left Side Top Menu -->


                <!-- Right Side Top Menu -->
                <div class="col-sm-4 col-xs-4 clearfix">
                    <i class="fa fa-search search-btn pull-right"></i>
                    <ul class="topbar-list topbar-log_reg pull-right visible-lg-block">




        <li><a href="http://bikeiowa.com/Register" id="Navigation_LoginView1_LoginView_LoginView1_A1">Register</a></li>


<li><a id="Navigation_LoginView1_LoginView_LoginStatus2" href="javascript:__doPostBack(&#39;ctl00$ctl00$Navigation$LoginView1$LoginView$LoginStatus2$ctl02&#39;,&#39;&#39;)">Login</a>&nbsp;</li>




                    </ul>
                </div>
                <!-- end Right Side Top Menu -->

            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="res-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand">
                    <a href="http://bikeiowa.com/">
                        <img src="http://bikeiowa.com/Assets/img/logos/BikeIowa-Black.png" alt="BIKEIOWA Logo" />
                    </a>
                </div>
            </div>
            <!--/end responsive container-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="res-container">

                    <ul class="nav navbar-nav">
                        <!--Main Nav-->
                        <li><a href="http://bikeiowa.com/Events">Events</a></li>
                        <li><a href="http://bikeiowa.com/News">News</a></li>
                        <li><a href="http://bikeiowa.com/Featured">Features</a></li>
                        <li><a href="http://bikeiowa.com/Cities">Cities</a></li>

                        <li class="dropdown visible-lg">
                            <a href="http://bikeiowa.com/Trails" class="dropdown-toggle" data-toggle="XXCdropdown">Trails</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="Navigation_hlUpdateTrailStatusMain" href="http://bikeiowa.com/Trail/UpdateStatus">Update Trail Status</a></li>
                                <li>
                                    <a id="Navigation_hlRulesOfTrailMain" href="http://bikeiowa.com/rules-of-the-trail/trail">Rules of the Trail</a></li>
                                <li>
                                    <a id="Navigation_hlTrailConditionsMain" href="http://bikeiowa.com/Trail/Conditions">Trail Conditions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown visible-xs visible-sm visible-md">
                            <a href="http://bikeiowa.com/Trails" class="dropdown-toggle" data-toggle="dropdown">Trails</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://bikeiowa.com/Trails">Trail Finder<span class="badge badge-u">New</span></a></li>
                                <li>
                                    <a id="Navigation_hlUpdateTrailStatus" href="http://bikeiowa.com/Trail/UpdateStatus">Update Trail Status</a></li>
                                <li>
                                    <a id="Navigation_hlRulesOfTrail" href="http://bikeiowa.com/rules-of-the-trail/trail">Rules of the Trail</a></li>
                                <li>
                                    <a id="Navigation_hlTrailConditions" href="http://bikeiowa.com/Trail/Conditions">Trail Conditions</a></li>
                            </ul>
                        </li>


                        <li><a href="http://bikeiowa.com/BikeShops">Bike Shops</a></li>

                        <!--End Main Nav-->


                        <!-- Resources -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">



                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Community</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_HyperLink2" href="http://bikeiowa.com/Register">Join</a></li>
                                                        <li>
                                                            <a id="Navigation_hlCommunityBenefits" href="http://bikeiowa.com/Community-Benefits/community">Benefits</a></li>

                                                        <li>
                                                            <a id="Navigation_hlBlog" href="http://bikeiowa.com/Blogs">Blog</a></li>
                                                        <li>
                                                            <a id="Navigation_hlReviews" href="http://bikeiowa.com/Reviews">Reviews</a></li>

                                                        <li>
                                                            <a id="Navigation_hlViewFAQs" href="http://bikeiowa.com/FAQ">FAQ</a></li>
                                                        <li>
                                                            <a id="Navigation_hlRideReminder" href="http://bikeiowa.com/ride-reminder/community">Ride Reminder</a></li>
                                                        <li>
                                                            <a id="Navigation_HyperLink1" href="http://www.flickr.com/photos/bikeiowa/sets/72157623979266891" target="New">BIKEIOWA 'In the Wild'</a></li>


                                                    </ul>
                                                </div>

                                                <div class="col-md-3 md-margin-bottom-30">

                                                    <h2>BIKEIOWA</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_HlContact" href="http://bikeiowa.com/Contact">Contact Us</a></li>
                                                        <li>
                                                            <a id="Navigation_hlAbout" href="http://bikeiowa.com/about">About</a></li>



                                                        <li>
                                                            <a id="Navigation_hlBIKEIOWAMagazine" href="http://bikeiowa.com/bikeiowa-magazine">BIKEIOWA Magazine</a></li>

                                                        <li>
                                                            <a id="Navigation_hlMobile" href="http://bikeiowa.com/mobile">Mobile</a></li>
                                                        <li>
                                                            <a id="Navigation_hlRSS" href="http://bikeiowa.com/RSS">RSS</a></li>
                                                        <li>
                                                            <a id="Navigation_hlSitemap" href="http://bikeiowa.com/Sitemap">Sitemap</a></li>
                                                        <li>
                                                            <a id="Navigation_hlLogos" href="http://bikeiowa.com/Logos">Logos</a></li>
                                                        <li>
                                                            <a id="Navigation_hlPackingList" href="http://bikeiowa.com/PackingList">Packing List</a></li>

                                                    </ul>

                                                </div>

                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Biking in Iowa</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_hlIowaBicycleTourism" href="http://bikeiowa.com/Iowa-Bicycle-Tourism">Iowa Bicycle Tourism</a></li>
                                                        <li>
                                                            <a id="Navigation_hlThingstoDo" href="http://bikeiowa.com/Things-To-Do">Things to Do</a></li>
                                                        <li>
                                                            <a id="Navigation_hlNeedaplacetostay" href="http://bikeiowa.com/Need-a-place-to-stay">Need a place to stay?</a></li>
                                                        <li>
                                                            <a id="Navigation_hlNewtoTown" href="http://bikeiowa.com/New-to-Town">New to Town?</a></li>



                                                        <li>
                                                            <a id="Navigation_hlIowaSeasons" href="http://bikeiowa.com/Iowa-Seasons">Iowa Seasons</a></li>
                                                        <li>
                                                            <a id="Navigation_hlAboutIowa" href="http://bikeiowa.com/About-Iowa">About Iowa</a></li>
                                                        <li>
                                                            <a id="Navigation_hlRAGBRAI" href="http://bikeiowa.com/RAGBRAI">RAGBRAI</a></li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">

                                                    <h2>Advocacy</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="http://www.IowaBicycleCoalition.org" target="new">Iowa Bicycle Coalition</a></li>
                                                        <li>
                                                            <a id="Navigation_hlRideOfSilence" href="http://bikeiowa.com/RideOfSilence">Ride of Silence</a></li>
                                                        <li>
                                                            <a id="Navigation_hlBicycleLaws" href="http://bikeiowa.com/iowa-bicycle-laws">Bicycle Laws</a></li>
                                                        <li>
                                                            <a id="Navigation_hlCompleteStreets" href="http://bikeiowa.com/complete-streets">Complete Streets</a></li>


                                                        <li>
                                                            <a id="Navigation_hlBicycleFriendlyPrograms" title="Bicycle-Friendly Communities" href="http://bikeiowa.com/bicycle-friendly-communities">Bicycle-Friendly Communities</a></li>
                                                        <li>
                                                            <a id="Navigation_hlBicycleFriendlyBusinesses" title="Bicycle-Friendly Businesses" href="http://bikeiowa.com/bicycle-friendly-businesses">Bicycle-Friendly Businesses</a></li>
                                                        <li>
                                                            <a id="Navigation_hlBicycleFriendlyUniversities" title="Bicycle-Friendly Universities" href="http://bikeiowa.com/bicycle-friendly-universities">Bicycle-Friendly Universities</a></li>
                                                        <li>
                                                            <a id="Navigation_hlCommuting" href="http://bikeiowa.com/Commuting">Commuting</a></li>
                                                        <li>
                                                            <a id="Navigation_hlCommuterGuide" href="http://bikeiowa.com/commuter-reference-guide">Commuter Guide</a></li>
                                                        <li>
                                                            <a id="Navigation_hlEmployerGuide" href="http://bikeiowa.com/employer-reference-guide">Employer Guide</a></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Resources -->


                        <!-- I want to -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">I Want To...</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Create</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_hlEvent" href="http://bikeiowa.com/Event/Add">Event</a></li>
                                                        <!-- Events-Add, mode=Quickie -->
                                                        <li>
                                                            <a id="Navigation_HlNews" href="http://bikeiowa.com/News/Add">News</a></li>
                                                        <!-- News-Add, mode=Quickie  -->
                                                        <li>
                                                            <a id="Navigation_hlTrailStatusUpdate" href="http://bikeiowa.com/Trail/UpdateStatus">Trail Status Update</a></li>
                                                        <li>
                                                            <a id="Navigation_hlRecap" href="http://bikeiowa.com/Profile/MyEvents">Recap/Results</a></li>
                                                        <li>
                                                            <a id="Navigation_hlReviewsAdd" href="http://bikeiowa.com/Review/Add">Review</a></li>










                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">

                                                    <h2>Find</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_hlMaps" href="http://bikeiowa.com/Trails">Trail Maps</a></li>
                                                        <li>
                                                            <a id="Navigation_hlBiketoRent" href="http://bikeiowa.com/bicycle-rentals">Bike Rentals</a></li>
                                                        <li>
                                                            <a id="Navigation_HyperLink17" href="http://bikeiowa.com/volunteer">Volunteer Opportunities</a></li>
                                                        <li>
                                                            <a id="Navigation_HyperLink5" href="http://bikeiowa.com/Shop">Shop for BIKEIOWA Gear</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Advertise</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li>
                                                            <a id="Navigation_HyperLink19" href="http://bikeiowa.com/advertise">Become a Sponsor</a></li>
                                                        <li>
                                                            <a id="Navigation_hlDonate" href="http://bikeiowa.com/donate">Donate</a></li>
                                                        <li>
                                                            <a id="Navigation_hlSponsorList" href="http://bikeiowa.com/Sponsors">Sponsors</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 md-margin-bottom-30">

                                                    <h2>Admin</h2>
                                                    <ul class="dropdown-link-list">



                                                                <li>
                                                                    <a id="Navigation_LoginView3_HyperLink4" href="http://bikeiowa.com/Register">Join</a></li>



                                                    </ul>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End I want to -->


                        <li class="visible-xs">
                            <a href="http://bikeiowa.com/Shop">Shop</a>
                        </li>
                        <li class="visible-xs">
                            <a href="http://bikeiowa.com/Sponsors">Sponsors</a>
                        </li>


                    </ul>
                </div>
                <!--/responsive container-->
            </div>
            <!--/navbar-collapse-->
        </div>
        <!--/end contaoner-->
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v8 ===-->



            <!--=== Container Part ===-->
            <div class="container content">

              <%= yield %>
            </div>
            <!--=== End Container Part ===-->


            <!-- XXC #PUTBACK: LATER 12-26-16)
        <!-- Sponsors -->
            <div class="container margin-bottom-10">
                <div class="row">

                    <div class="col-lg-12">


	<!-- Sponsor Carousel v3 -->
					<div id="SponsorCarousel1_divsponsorcarousel" class="owl-carousel-style-v2 margin-bottom-50">

                        	<h2 class="title-v4">Sponsors</h2>


						<div class="owl-slider-sponsorships">




                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/11/barr-bike-fitness'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/53_BARRlogo300.jpg' alt='Barr Bike & Fitness '>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/169/beaverdale-bicycles'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BeaverdaleBicycles125.jpg' alt='Beaverdale Bicycles'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/188/bike-rags'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BikeRags-250.jpg' alt='Bike Rags'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/156/raccoon-river-valley-trail-rrvt'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/RRVTLogo.jpg' alt='Raccoon River Valley Trail (RRVT)'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/190/primal-wear'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Primal-Logo-550.jpg' alt='Primal Wear'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/161/visual-eyes'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Visual-Eyes-Banner-md.jpg' alt='Visual Eyes'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/306/the-triangle-tap'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/TriangleTapLogo.jpg' alt='The Triangle Tap'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/131/bike-tech'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BikeTechLogo.gif' alt='Bike Tech'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/287/schuling-hitch-company'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Schuling-Hitch-Ad21000.jpg' alt='Schuling Hitch Company'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/133/miller-lite'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Miller-Lite-md.jpg' alt='Miller Lite'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/163/cumming-tap'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/CummingTap-250.jpg' alt='Cumming Tap'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/324/the-iowa-taproom'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Iowa Taproom Logo.png' alt='The Iowa Taproom'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/55/rasmussen-bike-shop'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/rasmussenBWlogoLG.jpg' alt='Rasmussen Bike Shop'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/284/sullys-irish-pub'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/SullysLogo.jpg' alt='Sully's Irish Pub'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/186/mickeys-irish-pub-waukee'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Mickeysbanner.jpg' alt='Mickey's Irish Pub - Waukee'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/182/orlondos-bar-grill'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/OrlondosPizzaLogo.jpg' alt='Orlondo's Bar & Grill'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/265/all-ability-cycles'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/all_ability_cycles.png' alt='All Ability Cycles'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/106/bikes-to-you'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BikesToYouLogo.png' alt='Bikes to You'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/17/bike-country'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BikeCountryLogo2015.jpg' alt='Bike Country '>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/260/mullets'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/mullets_logo.jpg' alt='Mullets'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/325/iowa-beer-bus'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Iowa beer bus color - sm.jpg' alt='Iowa Beer Bus'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/304/founders-irish-pub'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/FoundersIrishPubFront2.jpg' alt='Founder's Irish Pub'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/145/kyles-bikes'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/kylesBikeLogo250.jpg' alt='Kyle's Bikes'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/322/frontier-shack'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/FrontierShackLogo.jpg' alt='Frontier Shack'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/93/bike-world'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/BikeWorldLogo.jpg' alt='Bike World'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/321/reclaimed-rails-brewing-company'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/RR-stamp-color.png' alt='Reclaimed Rails Brewing Company'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/285/lederman-bail-bonds'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/LedermanLogo.jpg' alt='Lederman Bail Bonds'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/185/dallas-county-conservation'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/TrailCabins4Rent.jpg' alt='Dallas County Conservation'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/293/big-cock-bike-shop'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Big-Cock-Bike-Shop-Logo.jpg' alt='Big Cock Bike Shop'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/295/hotel-pattee'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/HotelPatteeLogo.jpg' alt='Hotel Pattee'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/318/ferinheit-wood-oven-pizza'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/FerinheitPizza-Banner.jpg' alt='Ferinheit Wood Oven Pizza'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/305/firetrucker-brewery'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Firetrucker logo 2014.jpg' alt='Firetrucker Brewery'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/187/flat-tire-lounge'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/FlatTireLounge250.jpg' alt='Flat Tire Lounge'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/316/ajs-on-east-court'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/AJsOnCourt-Logo.jpg' alt='AJ's on East Court'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/291/iowa-distilling-company'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Iowa Distilling Company.jpg' alt='Iowa Distilling Company'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/140/des-moines-cycle-club-dmcc'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/DMCCLogo2017-sm.jpg' alt='Des Moines Cycle Club (DMCC)'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/150/tshirt-graphix'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/TSGX-md.jpg' alt='Tshirt Graphix'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/160/cedar-valley-trails'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/CVTSponsor.jpg' alt='Cedar Valley Trails  '>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/263/nite-hawk-bar-and-grill'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/NITEHAWK-logo.jpg' alt='Nite Hawk Bar and Grill'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/317/bike-law-iowa'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/Bike-Law-Iowa-Logo-New.jpg' alt='Bike Law - Iowa'>
                                        </div>
                                  </a>
							</div>






                              <div class="item">
                                  <a href='http://bikeiowa.com/Sponsor/143/el-bait-shop'>
                                       <div class="imagesquare">
                                            <img  class="img img-responsive full-width" src='http://www.bikeiowa.com/uploads/assets/53_ElBaitShopLogo.jpg' alt='El Bait Shop'>
                                        </div>
                                  </a>
							</div>






						</div>




					</div>
					<!-- End Sponsor Carousel v3 -->

                    </div>
                </div>
            </div>


            <!--=== Footer v8 ===-->



<script type="text/javascript">
    // <![CDATA[

    /* Ride Reminder control */
    function UpdateRideReminder(s, e) {
        cpRideReminder.PerformCallback();
    }

    // ]]>
</script>


<!--=== Footer v8 ===-->
<div class="footer-v8">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">

                    <div class="margin-bottom-30">
                        <a href="http://bikeiowa.com/">
                            <img class="responsive" src="http://bikeiowa.com/Assets/img/logos/BikeIowa-White.png" alt="BIKEIOWA Logo" />
                        </a>
                    </div>

                    <p class="margin-bottom-40">
                        <strong>Have you Biked Iowa?</strong> We have!
                    </p>
                    <p>
                        Iowa has an abundance of bicycle-friendly communities, low traffic farm-to-market roads, and some of the longest continuous trail systems in the nation. Touring the state comes easy.
                    </p>




                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <h2>Popular Tags</h2>
                    <!-- Tag Links v4 -->
                    <ul class="tags-v4 margin-bottom-40">
                        <li><a class="rounded-4x" href="#">cyclocross</a></li>
                        <li><a class="rounded-4x" href="#">party</a></li>
                        <li><a class="rounded-4x" href="#">bike lanes</a></li>
                        <li><a class="rounded-4x" href="#">winter cycling</a></li>
                        <li><a class="rounded-4x" href="#">breweries</a></li>
                        <li><a class="rounded-4x" href="#">high trestle trail</a></li>
                    </ul>
                    <!-- End Tag Links v4 -->
                </div>
                <div class="col-md-3 col-sm-6 md-margin-bottom-50">

                    <h2>Useful Links</h2>
                    <!-- Footer Lists -->
                    <ul class="footer-lists">
                        <li>
                            <a id="Footer_hlContact" href="http://bikeiowa.com/Contact">Contact Us</a></li>
                        <li>
                            <a id="Footer_hlFAQ" href="http://bikeiowa.com/FAQ">FAQ</a></li>
                        <li>
                            <a id="Footer_hlSponsors" href="http://bikeiowa.com/Sponsors">Sponsors</a></li>
                        <li>
                            <a id="Footer_hlAbout" href="http://bikeiowa.com/about">About</a></li>
                        <li>
                            <a id="Footer_hlSitemap" href="http://bikeiowa.com/Sitemap">Sitemap</a>
                        <li>
                            <a id="Footer_hlShop" href="http://bikeiowa.com/Shop">Shop</a></li>
                    </ul>
                    <!-- End Footer Lists -->
                </div>



                <div class="col-md-3 col-sm-6">
                    <h2>Ride Reminder Newsletter</h2>



                    <div class="dxpnlControl" id="Footer_cpRideReminder">


                                <div class="margin-bottom-50">
                                    <!-- Form Group -->
                                    <div class="input-group margin-bottom-10">
                                        <input name="ctl00$ctl00$Footer$cpRideReminder$txtRideReminderEmail" type="email" id="txtRideReminderEmail" class="form-control" placeholder="Enter email" />

                                        <div class="input-group-btn">
                                            <button type="button" onclick="UpdateRideReminder();" causesvalidation="true" validationgroup="RideReminderSignUp" class="btn-u input-btn">Subscribe</button>

                                        </div>

                                    </div>

                                    <span data-val-controltovalidate="txtRideReminderEmail" data-val-focusOnError="t" data-val-errormessage="Email is required" data-val-display="Dynamic" data-val-validationGroup="RideReminderSignUp" id="Footer_cpRideReminder_rfvRideReminderEmail" class=" state-error" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="display:none;">Email is required</span>
                                    <span data-val-controltovalidate="txtRideReminderEmail" data-val-focusOnError="t" data-val-errormessage="A VALID email address must be entered." data-val-display="Dynamic" data-val-validationGroup="RideReminderSignUp" id="Footer_cpRideReminder_revEmailAddress" title="A VALID email address must be entered." class="state-error" data-val="true" data-val-evaluationfunction="RegularExpressionValidatorEvaluateIsValid" data-val-validationexpression="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" style="display:none;">A VALID email address must be entered.</span>


                                    <!-- End Form Group -->
                                </div>



</div><table id="Footer_cpRideReminder_LP" class="dxpnlLoadingPanelWithContent dxlpLoadingPanelWithContent" style="left:0px;top:0px;z-index:30000;display:none;">
	<tr>
		<td class="dx" style="padding-right:0px;"><img class="dxlp-loadingImage dxlp-imgPosLeft" src="http://bikeiowa.com/DXR.axd?r=1_35-6N1Id" alt="" style="vertical-align:middle;" /></td><td class="dx" style="padding-left:0px;"><span id="Footer_cpRideReminder_TL">Loading&hellip;</span></td>
	</tr>
</table><div id="Footer_cpRideReminder_LD" class="dxpnlLoadingDivWithContent dxlpLoadingDivWithContent dx-ft" style="left:0px;top:0px;z-index:29999;display:none;position:absolute;">

</div><script id="dxss_1151894312" type="text/javascript">
<!--

var dxo = new ASPxClientCallbackPanel('Footer_cpRideReminder');
dxo.InitGlobalVariable('cpRideReminder');
dxo.SetProperties({
	'callBack':function(arg) { WebForm_DoCallback('ctl00$ctl00$Footer$cpRideReminder',arg,ASPx.Callback,'Footer_cpRideReminder',ASPx.CallbackError,true); },
	'enableCallbackAnimation':true,
	'uniqueID':'ctl00$ctl00$Footer$cpRideReminder',
	'hideContentOnCallback':false
});
dxo.AfterCreate();

//-->
</script>




                    <h2>Keep Connnected</h2>


                    <!-- Social Icons -->
                    <ul class="social-icon-list margin-bottom-20">
                        <li><a href="http://twitter.com/#!/bikeiowa" id="Footer_hlFooterTwitter"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/pages/BIKEIOWAcom/374834303678" id="Footer_hlFooterFacebook"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/bikeiowa/" id="Footer_hlFooterInstagram"><i class="rounded-x fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/user/BikeIowaGuy/videos?shelf_id=3&view=0&sort=dd" id="Footer_hlFooterYouTube"><i class="rounded-x fa fa-youtube"></i></a></li>
                        <li><a href="http://www.flickr.com/photos/bikeiowa/sets" id="Footer_hlFooterFlickr"><i class="rounded-x fa fa-flickr"></i></a></li>
                    </ul>
                    <!-- End Social Icons -->
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->

    </footer>

    <footer class="copyright">

        <div class="container text-center">
            <ul class="list-inline terms-menu">
                <li>
                    <label id="Footer_lblVisitors">237 Visitors</label>
                </li>
                <li>
                    <label id="Footer_lblMembers">3318 Members</label>
                </li>
                <li>
                    <label id="Footer_lblUpcomingEvents">83 Upcoming Events</label>
                </li>
                <li>
                    <label id="Footer_lblTrailCount">255 Trails</label>
                </li>
                <li>
                    <label id="Footer_lblCityCount">992 Cities</label>
                </li>
                <li></li>
            </ul>

        </div>


        <div class="container text-center">
            <ul class="list-inline terms-menu">
                <li>
                    <label id="Footer_lblFooter1">Celebrating 16 years of connecting cyclists with Iowa communities</label>
                </li>
                <li>
                    <label id="Footer_lblFooter2">Copyright &copy; 2017 BIKEIOWA. All Rights Reserved.</label>
                </li>
                <li class="home">
                    <a href="http://bikeiowa.com/terms-of-Use" id="Footer_hlTermsOfUse2">Terms of Use</a></li>
                <li>
                    <a href="http://bikeiowa.com/privacy-policy" id="Footer_hlPrivacyPolicy2">Privacy Policy</a></li>
            </ul>
        </div>
        <!--/end container-->
    </footer>
</div>
<!--=== End Footer v8 ===-->

        </div>


<script type="text/javascript">
//<![CDATA[

WebForm_InitCallback();//]]>
</script>

    <!-- XXC Testing - shows bootstrap sizing as the window is re-sized 12/4/16 -->


    <!-- XXC Testing - shows bootstrap sizing - used with Jquery method getBootstrapDeviceSize 12/4/16 -->

    <script  src=""></script>
    <script  src="http://bikeiowa.com/bundles/modernizr?v=dUz_C7QKTmbjqpHGnN4fhYIhS-YQnnG5Pqseul2b8PQ1"></script>
    <script  src="http://bikeiowa.com/bundles/jqueryJs?v=7eYYleB6CX2-2fNcxUdWmcAonWlBaOnAAknRafttG_M1"></script>
    <script  src="http://bikeiowa.com/bundles/extrasJs?v=D_YOEfDt0Z1JMKd_n6pICO6KNOtH1xtMWn_fXQ1d7Mo1"></script>
    <script  src="http://bikeiowa.com/bundles/customCPs?v=J85OgW_EH_qh8Aaxe9ZIxAGIZRVgEhy5Zh90DNb8Ur81"></script>
    <script  src="http://bikeiowa.com/bundles/customJs?v=GiJORt-RTg9tlVjQnrXJDsq6z3xVgCJ0dsa_A04kYT01"></script>
    <!-- JS Page Level -->
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            FancyBox.initFancybox();
            //OwlCarousel.initOwlCarouselBreakingNews();
            //OwlCarousel.initOwlCarouselReviews();
            OwlCarousel.initOwlCarousel2();
            OwlCarousel.initOwlCarouselSponsors();
            MasterSliderShowcase1.initMasterSliderShowcase1();

            //MasonryBoxSponsorSupporting.initMasonryBoxSponsorSupporting();
            //MasonryBoxSponsorPremier.initMasonryBoxSponsorPremier();
            MasonryBox.initMasonryBox();  //features

            //Datepicker.initDatepicker();
            //ContactForm.initContactForm();


        });


        //google analytics 1/27/17 - orig 6/11/12

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1632904-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();




    </script>
    <!--[if lt IE 9]>
	<script src="../assets/plugins/respond.js"></script>
	<script src="../assets/plugins/html5shiv.js"></script>
	<script src="../assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>
